<section class="pt-20 pb-20 bg-gray-900 text-center mx-center">
  <div class="flex justify-between items-center mx-center">
    <div class="text-start w-2/3 m-10">
      <h4 class="text-3xl font-black">
        Hacia una Pastoral Juvenil con <span
          class="font-thin rounded-full bg-slate-100 text-gray-900 p-2 pe-3 ps-3 m-2"
          >#esperanza</span
        >
      </h4>

      <p class="font-bold">
        Lema de la XXI Escuela de Pastoral con Jóvenes 2025
      </p>
      <p class="text-lg mt-5">
        Hace años, abrimos este espacio formativo a otras instituciones,
        transformando un proyecto propio en un esfuerzo compartido. Desde
        entonces, hemos trabajado en <span class="font-bold">red</span>,
        superando nuestra zona de confort <span class="font-bold"
          >para construir un espacio sinodal donde todos tienen cabida</span
        >. Este camino conjunto no ha sido fácil, pero nos ha revelado un gran
        tesoro:
        <span class="font-bold"
          >una pastoral viva y en red, diseñada con y para los jóvenes</span
        >.
      </p>
      <p class="text-lg mt-5">
        No buscamos llegar primero a una meta, sino <span class="font-bold"
          >disfrutar del camino y compartirlo con otros</span
        >. Es en el camino donde Él nos sale al encuentro y donde podemos
        convertirnos en las personas que estamos llamadas a ser. Caminamos
        juntos, porque somos, sí, pero <span class="font-bold">CONtigo</span> y junto
        <span class="font-bold">CON los demás</span>.
      </p>
    </div>
    <div class="m-10 w-1/3">
      <img
        src="/image-epj.webp"
        alt="EPcJ"
        class="w-full rounded outline border-4 border-white rotate-2 hover:rotate-0 transition-transform duration-300"
      />
    </div>
  </div>
</section>
