<section
  class="pt-20 pb-20 bg-custom-orange text-center mx-center"
  id="documento-marco"
>
  <div class="flex justify-between flex-row-reverse items-center mx-center">
    <div class="text-start w-2/3 m-10">
      <h4 class="text-3xl font-black">
        Documento marco <span
          class="font-thin rounded-full bg-slate-100 text-custom-orange p-2 pe-3 ps-3 m-2"
          >#EPcJ2025</span
        >
      </h4>
      <div class="mt-10">
        <p class="text-lg">
          La <strong>XXI Escuela de Pastoral con Jóvenes</strong> se centra en el
          lema <em>"Peregrinos de la Esperanza"</em>, destacando la importancia
          de los jóvenes como <strong>agentes de cambio</strong> en una sociedad
          polarizada. Este espacio formativo apuesta por la <strong
            >sinodalidad</strong
          > y la <strong>colaboración en red</strong>, buscando que todas las
          instituciones involucradas trabajen de manera conjunta y solidaria. El
          objetivo principal es reflexionar y compartir experiencias que
          fomenten una pastoral viva y dinámica, diseñada con los jóvenes y para
          ellos.
        </p>
        <p class="text-lg mt-4">
          Durante el encuentro, se abordarán temas clave como la <strong
            >esperanza en tiempos de incertidumbre</strong
          >, la <strong>fraternidad</strong>, y el <strong
            >diálogo activo</strong
          > en las comunidades. A través de ponencias, talleres y dinámicas grupales,
          los participantes serán invitados a <strong
            >explorar nuevas formas de vivir la fe</strong
          > y a construir un camino común basado en la <strong
            >solidaridad comprometida</strong
          >. La jornada cerrará con momentos de oración y reflexión para renovar
          nuestra vocación de caminar juntos hacia un futuro lleno de esperanza.
        </p>
        <div class="mt-10">
          <a
            href="https://drive.google.com/file/d/19LaUg5CwdGOwGGdLhy0wHZKr-cgO0WPZ/view?usp=sharing"
            target="_blank"
          >
            <button
              class="bg-custom-blue text-white py-2 px-4 rounded border-2 border-custom-blue hover:bg-custom-orange transition flex font-semibold"
            >
              DESCARGAR <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-file-type-pdf ms-2"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M14 3v4a1 1 0 0 0 1 1h4"></path><path
                  d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4"></path><path
                  d="M5 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6"></path><path
                  d="M17 18h2"></path><path d="M20 15h-3v6"></path><path
                  d="M11 15v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z"
                ></path></svg
              >
            </button></a
          >
        </div>
      </div>
    </div>
    <div class="m-10 w-1/3 flex justify-center items-center">
      <a
        href="https://drive.google.com/file/d/19LaUg5CwdGOwGGdLhy0wHZKr-cgO0WPZ/view?usp=sharing"
        target="_blank"
      >
        <img
          src="/document.webp"
          alt="Documento de la EPcJ"
          class="h-96 rounded outline border-4 border-white -rotate-6 hover:rotate-0 transition-transform duration-300"
        />
      </a>
    </div>
  </div>
</section>
