<section
  class="pt-20 pb-20 bg-custom-orange text-center mx-center bg-left-center sm:bg-center bg-cover bg-no-repeat"
  id="documento-marco"
  style="background-image: url('/bg-image-document.webp');"
>
  <div class="flex flex-col md:flex-row justify-between items-center mx-center">
    <div class="text-start md:w-2/3 m-10">
      <h4 class="text-3xl font-black leading-relaxed text-center md:text-start">
        Documento marco <span
          class="font-thin rounded-full bg-slate-100 text-custom-orange p-2 pe-3 ps-3 m-2"
          >#EPcJ2025</span
        >
      </h4>
      <div class="mt-10">
        <p class="text-lg">
          El documento <strong>"Marco EPCJ 2025"</strong> gira en torno a la importancia
          de la esperanza como eje central en el trabajo pastoral con jóvenes y en
          la sociedad actual. Reflexiona sobre cómo, en un mundo marcado por la superficialidad
          y el desánimo, es vital redescubrir una esperanza auténtica que inspire
          el cambio, supere el pesimismo y ofrezca un horizonte hacia el futuro.
          A través de símbolos como el banquete y la peregrinación, se invita a entender
          la esperanza como un compromiso activo que transforma tanto a las personas
          como a las comunidades.
        </p>
        <p class="text-lg mt-4">
          Además, el texto conecta esta temática con el Jubileo 2025, convocado
          por el Papa Francisco bajo el lema <em
            >"Peregrinos de la esperanza"</em
          >. Destaca la necesidad de ser "signos tangibles de esperanza" en
          medio de los más vulnerables y entre los jóvenes, reconociéndolos como
          el presente de la Iglesia. Este documento es una invitación a vivir la
          esperanza desde la fe, el compromiso y la acción, confiando en que es
          posible construir un mundo mejor a través del servicio y la comunión.
        </p>
        <div class="mt-10 flex justify-center md:justify-start">
          <a
            href="https://drive.google.com/file/d/1YOpg87grATtQ6NDZZff5TalJX3CEPzsy/view?usp=sharing"
            target="_blank"
          >
            <button
              class="bg-custom-blue text-white py-2 px-4 rounded border-2 border-custom-blue hover:bg-custom-red transition flex font-semibold"
            >
              DESCARGAR <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-file-type-pdf ms-2"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M14 3v4a1 1 0 0 0 1 1h4"></path><path
                  d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4"></path><path
                  d="M5 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6"></path><path
                  d="M17 18h2"></path><path d="M20 15h-3v6"></path><path
                  d="M11 15v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z"
                ></path></svg
              >
            </button></a
          >
        </div>
      </div>
    </div>
    <div class="md:m-10 md:w-1/3 flex md:justify-center md:items-center">
      <a
        href="https://drive.google.com/file/d/1YOpg87grATtQ6NDZZff5TalJX3CEPzsy/view"
        target="_blank"
      >
        <img
          src="/document.webp"
          alt="Documento de la EPcJ"
          class="h-96 rounded outline border-4 border-white md:-rotate-6 hover:rotate-0 transition-transform duration-300"
        />
      </a>
    </div>
  </div>
</section>
