<footer
  class="py-10 flex items-center flex-col-reverse sm:flex-row justify-center sm:justify-evenly"
>
  <section class="text-center sm:text-start">
    <div class="flex justify-center sm:justify-start mt-4 sm:mt-0">
      <a
        class="rounded-full border hover:cursor-pointer p-1 me-2 hover:bg-custom-red transition-colors duration-300"
        target="_blank"
        href="https://x.com/EscuelaPastoral"
        aria-label="Ir a X (Twitter) de Escuela Pastoral"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 4l11.733 16h4.267l-11.733 -16z"></path><path
            d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path></svg
        ></a
      >
      <a
        class="rounded-full border hover:cursor-pointer p-1 me-2 hover:bg-custom-red transition-colors duration-300"
        target="_blank"
        href="https://www.instagram.com/epcjovenes/"
        aria-label="Ir a Instagram de Escuela Pastoral"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
          ></path><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
            d="M16.5 7.5v.01"></path></svg
        ></a
      >
      <a
        class="rounded-full border hover:cursor-pointer p-1 me-2 hover:bg-custom-red transition-colors duration-300"
        target="_blank"
        href="https://www.facebook.com/escueladepastoralconjovenes"
        aria-label="Ir a Facebook de Escuela Pastoral"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
          ></path></svg
        >
      </a>
    </div>

    <p class="font-bold mt-2">#epcj2025</p>
    <p class="text-sm mt-4 sm:mt-0">
      Desarrollado con 💛 por <a
        class="hover:underline hover:cursor-pointer"
        href="https://adrianpisabarro.com/"
        target="_blank">Adrián Pisabarro</a
      >
    </p>
    <p></p>
  </section>
  <section class=""></section>
  <section class="text-center sm:text-end">
    <p class="font-bold">Escuela de Pastoral con Jóvenes</p>
    <p class="text-sm">Registro Nacional de Asociaciones: Sección 1</p>
    <p class="text-sm">Número Nacional 615535</p>
    <p class="text-sm">CIF: G-88086178</p>
  </section>
</footer>
