<header class="p-6 flex items-center justify-evenly">
  <section class="flex items-center justify-center">
    <img
      src="/logo-letters.webp"
      class="w-40"
      alt="Logo de la Escuela de Pastoral con Jóvenes"
    />
    <div class="m-3">
      <h2 class="font-bold text-2xl">Escuela de Pastoral<br /> con Jóvenes</h2>
    </div>
  </section>
  <nav class="flex items-center">
    <ul class="flex">
      <li class="p-2">
        <a
          href="#"
          class="hover:opacity-85 uppercase relative after:absolute after:bottom-0 after:left-0 after:w-full after:h-0.5 after:bg-white after:scale-x-0 hover:after:scale-x-100 after:transition-transform after:duration-300 p-2">
          Programa</a>
      </li>
      <li class="p-2">
        <a
          href="#"
          class="hover:opacity-85 uppercase relative after:absolute after:bottom-0 after:left-0 after:w-full after:h-0.5 after:bg-white after:scale-x-0 hover:after:scale-x-100 after:transition-transform after:duration-300 p-2"
          >Sobre EPcJ</a
        >
      </li>
      <li class="p-2">
        <a
          href="#"
          class="hover:opacity-85 uppercase relative after:absolute after:bottom-0 after:left-0 after:w-full after:h-0.5 after:bg-white after:scale-x-0 hover:after:scale-x-100 after:transition-transform after:duration-300 p-2"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
  <section>
    <button
      class="bg-custom-red text-white px-6 py-3 rounded font-bold flex
	  items-center transition-all duration-200 hover:bg-custom-blue
	  active:scale-95 hover:scale-110"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-ticket me-2"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M15 5l0 2"></path><path d="M15 11l0 2"></path><path d="M15 17l0 2"
        ></path><path
          d="M5 5h14a2 2 0 0 1 2 2v3a2 2 0 0 0 0 4v3a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-3a2 2 0 0 0 0 -4v-3a2 2 0 0 1 2 -2"
        ></path></svg
      >
      ¡INSCRÍBETE!
    </button>
  </section>
</header>
