<section
  class="bg-custom-red pt-20 pb-20 flex flex-col items-center justify-center"
>
  <span
    class="font-semibold text-1xl bg-custom-blue px-4 py-2 rounded-full m-3 flex"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-week me-2"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"
      ></path><path d="M16 3v4"></path><path d="M8 3v4"></path><path
        d="M4 11h16"></path><path d="M7 14h.013"></path><path d="M10.01 14h.005"
      ></path><path d="M13.01 14h.005"></path><path d="M16.015 14h.005"
      ></path><path d="M13.015 17h.005"></path><path d="M7.01 17h.005"
      ></path><path d="M10.01 17h.005"></path></svg
    > 22 y 23 de marzo de 2025
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin me-2 ms-4"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
        d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
      ></path></svg
    >

    Madrid
  </span>

  <div class="container mx-auto px-4 text-center">
    <h1 class="text-5xl font-bold pt-10">
      Somos <span
        class="text-custom-blue bg-slate-50 pe-2 ps-2 pt-1 pb-1 rounded-lg"
        >esperanza</span
      >
    </h1>
    <p class="text-xl mt-6">
      Un evento anual que reúne a animadores y jóvenes para profundizar en temas
      pastorales actuales,<br /> promoviendo experiencias innovadoras y reflexivas.
    </p>
    <p class="text-xl mt-6 text-gray-400">
      <span
        class="text-custom-blue bg-slate-50 pe-2 ps-2 pt-1 pb-1 rounded-lg font-medium"
        >Jóvenes construyendo fraternidad, solidaridad y diálogo para un futuro
        lleno de fe</span
      >
    </p>
    <div class="mt-16">
      <button
        id="button-inscripcion"
        class="bg-custom-blue border-custom-blue border-2 text-white py-3 px-6 rounded font-semibold
        transition-all duration-200 active:scale-95 hover:scale-110 hover:bg-custom-red"
      >
        ¡Inscríbete ahora!
      </button>
      <button
        id="button-documento-marco"
        class="ml-4 py-3 px-6 rounded font-semibold hover:underline transition"
      >
        Documento marco
      </button>
    </div>
    <div class="mt-16 flex justify-center intems-center">
      <button
        class="flex items-center hover:text-custom-blue-dark"
        id="button-next"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-caret-down"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M6 10l6 6l6 -6h-12"></path></svg
        >
      </button>
    </div>
  </div>
</section>
<script>
  document.getElementById("button-next").addEventListener("click", () => {
    document.getElementById("epcj").scrollIntoView({ behavior: "smooth" });
  });
  document
    .getElementById("button-documento-marco")
    .addEventListener("click", () => {
      document
        .getElementById("documento-marco")
        .scrollIntoView({ behavior: "smooth" });
    });
  document
    .getElementById("button-inscripcion")
    .addEventListener("click", () => {
      document
        .getElementById("inscripcion")
        .scrollIntoView({ behavior: "smooth" });
    });
</script>
