<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Escuela de Pastoral con Jóvenes</title>

    <!-- Meta SEO -->
    <meta
      name="description"
      content="La Escuela de Pastoral con Jóvenes es un espacio formativo que promueve la reflexión, el trabajo en red y la innovación en la pastoral juvenil desde hace más de 12 años."
    />
    <meta
      name="keywords"
      content="pastoral juvenil, jóvenes, formación pastoral, comunidades, eventos eclesiales, curso pastoral jóvenes, EPcJ, pastoral católica, formación espiritual"
    />
    <meta name="author" content="Escuela de Pastoral con Jóvenes" />

    <!-- Meta para redes sociales (Open Graph) -->
    <meta
      property="og:title"
      content="EPcJ - Escuela de Pastoral con Jóvenes"
    />
    <meta
      property="og:description"
      content="Un evento anual que reúne a animadores y jóvenes para profundizar en temas pastorales actuales, promoviendo experiencias innovadoras y reflexivas."
    />
    <meta property="og:image" content="/social-media.webp" />
    <meta property="og:url" content="https://escuelapastoraljovenes.com" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />

    <!-- Meta para Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="EPcJ - Escuela de Pastoral con Jóvenes"
    />
    <meta
      name="twitter:description"
      content="Un evento formativo que impulsa la pastoral juvenil con experiencias innovadoras y colaborativas."
    />
    <meta name="twitter:image" content="/social-media.webp" />
  </head>
  <body class="bg-gray-800 text-white">
    <slot />
  </body>
</html>
